board-info.txt filter=lfs diff=lfs merge=lfs -text
dtbo filter=lfs diff=lfs merge=lfs -text
recovery.img filter=lfs diff=lfs merge=lfs -text
all_files.txt filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
vendor filter=lfs diff=lfs merge=lfs -text
odm filter=lfs diff=lfs merge=lfs -text
bootRE filter=lfs diff=lfs merge=lfs -text
dtbo.img filter=lfs diff=lfs merge=lfs -text
lfs filter=lfs diff=lfs merge=lfs -text
aosp-device-tree filter=lfs diff=lfs merge=lfs -text
boot.img filter=lfs diff=lfs merge=lfs -text
ikconfig filter=lfs diff=lfs merge=lfs -text
product filter=lfs diff=lfs merge=lfs -text
system filter=lfs diff=lfs merge=lfs -text
system_ext filter=lfs diff=lfs merge=lfs -text
boot filter=lfs diff=lfs merge=lfs -text
cd0d6dec708945439ff34d08e5d7e31e943bbc6a filter=lfs diff=lfs merge=lfs -text
8ddefbbe9ebe2d232a32aa46899143c6f9ea4dc2 filter=lfs diff=lfs merge=lfs -text
034fec49bf9858732cf13ac3d46c50df4dfd35bf filter=lfs diff=lfs merge=lfs -text
2bafb4775bb5e8043fca532239221cc78dcbc322 filter=lfs diff=lfs merge=lfs -text
6ec60d1c30d8ee0ee8419e5daf2b1b90436290fd filter=lfs diff=lfs merge=lfs -text
f4344a494bc65e20c28f12dcd281c4fb6cc4e1cc filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.apex filter=lfs diff=lfs merge=lfs -text
*.vdex filter=lfs diff=lfs merge=lfs -text
*.odex filter=lfs diff=lfs merge=lfs -text
